
a{
  text-decoration: none;
}
.sell-section{
   position: relative;
   z-index: 1;
    padding: 50px 0px 50px 0px;
}
.sell-heading h1 {

     font-size: 35px;
     font-weight: 650px;
     color: rgb(43, 42, 42);
     line-height: 1;
     margin: 0;
     text-transform: capitalize;
     padding-bottom: 30px;
     }

     .sell-car-image{
align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: -1;
  justify-content: space-between;
  -webkit-box-align: end;
  display: flex;
  -webkit-box-pack: justify;
}

.sell-section::after {
 position: absolute;
content: '';
left: 0;
 bottom: 0;
width: 100%;
background: linear-gradient(to top, rgba(199, 199, 199, 0.19) 0, rgba(255, 255, 255, 0));
 display: block !important;
 z-index: -1;
}

.sell-car-image img{
    max-width: 275px;
  width: 100%;
}

.sell-car-section {
    padding: 0;
      padding-bottom: 0px;
    padding-bottom: 75px;
    margin-top: -130px;
    position: relative;
    z-index: 1;
  }

  .search-form{
        background-color: white;
        position: relative;
        border-radius: 4px;
        border: 1px solid #ddd;
        max-width: 375px;
        width: 100%;
        margin: 0px auto;
        padding: 20px 25px 25px;
  }
  .search-form p{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  }
  .search-form ul .nav{
    margin: 20px 0 25px;
    border: 2px solid #0069bf;
    background-color: #0069bf;
    border-radius: 4px;
    overflow: hidden;
  }
  .tab-content > .active {
    display: block;
  }

  .search-form ul .nav li.nav-item{
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
  }
  .search-form ul .nav li.nav-item a.nav-link.active{
    background-color: #0069bf;
  color: white;
  transition: all 0.5s;
  }

  .search-form .nav-item {
    width: 100%;
    max-width: 160px;
    text-align: center;
    border-radius: 0px;
  }
  .search-form .nav.nav-pills {
    border: 1px solid #0069bf;
    border-radius: none;
  }

  .search-form ul .nav li.nav-item a.nav-link{
    border-radius: 0;
  padding: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #0069bf;
  background-color: #fff;
  }
  .form-group{
    position: relative;
  margin-bottom: 30px;
  }
  .form-control{
    font-size: 13px;
  border-radius: 4px;
  height: 42px !important;
  padding: 0px;
    padding-left: 0px;
  color: #4A4F54;
  background-color: transparent;
  border: 1px solid #ddd;
  padding-left: 15px;
  }

  .wizrd-form{
    position: absolute;
  left: 8px;
  top: 11px;
  padding: 0 8px;
  font-size: 13px;
  margin-bottom: 0;
  transition: all 0.5s;
  }
  .select2-design select{
    color: #4A4F54;
  display: inline-block;
  background: url("../../images/dropdown.svg") #fff;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 10px 10px;
  height: 42px;
  line-height: 40px;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  }
  .wizard-form-select-label{
    position: absolute;
  left: 8px;
  top: -8px;
  padding: 0 8px;
  font-size: 13px;
  margin-bottom: 0;
  color: #4A4F54;
  display: block;
  background-color: #fff;
  transition: all 0.5s;
}
.ares-themebtn{
    display: inline-block;
  padding: 10px;
  width: 100%;
  background-color: #0069bf;
  color: white;
  border: 1px solid #0069bf;
  border-radius: 0px;
  text-transform: capitalize;
  text-align: center;
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.vechicle {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    line-height: 1.5;
    color: #4A4F54;
  }
  .wizard-form-text-label {
    position: absolute;
    left: 8px;
    top: 11px;
    padding: 0 8px;
    font-size: 13px;
    margin-bottom: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  @media screen and (max-width:992px) {
    
    .sell-car-image{
      display: none;
    }
  }
  @media screen and (max-width:576px) {
    .search-form .nav-item {
        width: 100%;
        max-width: 118px;
      }
      /* a.nav-link .active{
        font-size: 4px;
      }
      a.nav-link{
        font-size: 14px;
      } */
      /* .nav-item a{
        font-size: 1px;
      } */
      .nav-link.active {
        font-size: 14px;
      }
      .nav-link {
        font-size: 14px;
      }
      .sell-heading h1{
        font-size: 20px;
      }
  }



  /*  */
  .selling-car-section{
    padding: 60px 0px 60px 0px;
    position: relative;
    background-color: #f4f8fa;;
  }

  a.sellCar_blog {
    position: relative;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    text-transform: capitalize;
    color: #4A4F54;
    box-shadow: 0 0 10px 0 rgba(112, 121, 138, 0.1);
    transition: all 0.5s;
    display: block;
    text-decoration: none;
  }

  a.sellCar_blog span {
    position: absolute;
    right: 14px;
    top: 13px;
    font-size: 13px;
  }
  a.sellCar_blog:hover {
    border: 1px solid #0069bf;
    color: #0069bf;
    transition: all 0.5s;
  }

  

  /*  */

  .faq-section{
    padding: 50px 0px 50px 0px ;
  }
  .accordion-item{
    border-radius: 10px;
  box-shadow: 0px 0px 30px whitesmoke;
  background-color: white;
  border: 2px solid whitesmoke;
 }
 .accordion-button:focus {
    border: 1px solid white;
    box-shadow: 0 0 0 .25rem rgb(255, 255, 255);
 }  
